body {
  font-family: Alata, monospace, sans-serif;
  background-color: rgb(253 , 251 , 251);
  color: rgb(31 , 31 , 31);
  font-style: italic;
  line-height: 23px;
}

p {
  font-size: 15px;
}

nav a:visited {
  color: yellow;
}

nav a:link {
  color: white;
}

#titulo {
  color: whitesmoke;
}

h1 , h2 , h3 {
  font-family: Lato, monospace;
  font-style: normal;
}

.align-middle {
  text-align: center;
}

footer {
  text-align: center;
}

.first {
  margin-top: 100px;
}

.fill-in {
  background-color: blueviolet;
}

#cabecalho {
  display: block;
}

header {
  margin: 0;
  padding: 40px;
  width: 100%;
  background-color: blueviolet;
  position: fixed;
  top: 0;
}

article {
  display: block;
  float: left;
  width: 80%;
}

.solo {
  clear: both;
}

aside {
  float: right;
  background-color: rgb(131 , 131 , 131);
  width: 20%;
}

img {
  margin: 10px;
  padding: 10px;
  border: 3px solid white;
}

table , th , td {
  border: 1px solid black;
}
